.container {
  display: flex;
}

.chats_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 1000px;
  margin: 50px;
  margin-top: 50px;
  gap: 20px;
}

.chat_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-width: 700px;
  box-shadow: -2px 8px 20px rgba(11, 70, 84, 0.15);
  padding: 20px;
}

.chat_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addchat_button_container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

// .addchat_container {
//   margin-top: 50px;
//   display: flex;
//   justify-content: center;
// }

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: sticky;
  top: 0;
}

.button {
  cursor: pointer;
  left: 18%;
  margin: 15px 0;
  font-size: 18px;
  border: none;
  background-color: #8e97fd;
  border-radius: 20px;
  width: 250px;
  height: 40px;
  transition: 0.4s;
  color: white;
}

.button:hover {
  font-size: 19px;
  box-shadow: 1px 1px rgba(128, 128, 128, 0.368);
  background-color: #6e76ce;
}

.text {
  color: #808aff;
  margin: 2px;
}

.input {
  border: 1px solid rgb(83, 82, 82);
  border-radius: 10px;
  width: 380px;
  height: 34px;
  margin: 5px;
  padding-left: 30px;
  font-size: 18px;
  transition: 0.4s;
  // outline: 1px solid #5e6cff;
}
.input:hover {
  border: 1px solid #5e6cff;
}
.input:focus {
  outline: 1px solid #5e6cff;
}
