.chats_container {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 50px;
  gap: 20px;
}

.chat_card {
  height: 150px;
  width: 300px;
  outline: 1px #808aff solid;
  background-color: #808aff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
}

.chat_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: x-large;
}