.main-img-div{
    position: relative;
    justify-content:center ;
    left: 33%;
    top: 250px;
}

.main-photo{ 
    max-width: 400px;
}
.welcome-text{
position: absolute;
width: 388px;
height: 56px;
bottom: 300px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 28px;
text-align: center;

color: #D1512D;
}