.container{
    display: flex;
    bottom: 200px;
    min-height: 600px;
}

.main_img_div{
    position: relative;
    justify-content:center ;
    left: 0;
    top: 50px;
}
.welcome_text{
    z-index: 1;
    position: absolute;
    left: 270px;
    width: 450px;
    height: 56px;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    text-align: center;
    color: #8E97FD;
}
.main_photo_ellipse{
    position: absolute;
    max-width: 700px;
    top: 40px;
}
.main_photo{ 
    position: absolute;
    left: 200px;
    top:150px;
    max-width: 400px;
}
.form_box{
    position: absolute;
    justify-content: center;
    margin-top: 100px;
    min-width: 500px;
    height: 400px;
    left: 800px;
    border-radius: 5px;
    box-shadow: -2px 8px 20px rgba(11, 70, 84, 0.15);
}