.welcome_container {
  background-color: #8e97fd;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 80px;
}

.h1 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  margin-top: 0;
  color: #ebeaec;
}

.h2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #ebeaec;
  margin-bottom: 80px;
}

.white_button {
  cursor: pointer;
  font-size: 22px;
  font-family: "Nunito";
  border: none;
  background-color: #ebeaec;
  border-radius: 25px;
  width: 240px;
  height: 50px;
  transition: 0.4s;
  color: #3f414e;
  margin-bottom: 100px;
  // margin-top: -300px;
  // position: relative;
  // top: 350px;
}
.white_button:hover {
  font-size: 24px;
  box-shadow: 1px 1px rgba(128, 128, 128, 0.368);
  background-color: #d3d2d2;
}

.welcome_image {
  margin-bottom: 100px;
  // height: 50%;
}

@media (min-width: 350px) and (max-width: 700px) {
  .h1 {
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 25px;
  }
  .h2 {
    margin-bottom: 50px;
    font-size: 18px;
  }
  .welcome_image {
    width: 100%;
    margin-bottom: 30px;
  }
  .welcome_container {
    padding-top: 15%;
    // width: 100%;
    height: 100vh;
  }

}
