.loader_container {
  position: absolute;
  // margin-top: 25%;
  // margin-left: 10%;
  // width: 500px;
  // height: 100%;
  // display: flex;
  // align-content: center;
  // justify-content: center;
  // margin-left: auto;
  // margin-top: auto;
  top: 40%;
  left: 45%;
  // margin: 0;
}