.grand_main_container{
  // display: flex;
  justify-content: center;
  align-items: center;
  background-color:#8E97FD ;
  // height: 100vw;
}

.main_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  gap: 25px;
  // background-color: #8E97FD;
  // width: 100%;
  // margin: 3vw;
}

.graph_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // padding-top: 20px;
  // align-items: center;
  // text-align: center;
  border-radius: 20px;
  width: 900px;
  height: 650px;

  background-color: white;
  // margin: 15px;
}

// .main_div_container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   background-color: white;
//   border-radius: 20px;
//   height: 440px;
//   // margin: 15px ;
// }



.userPhoto {
  display: flex;
  justify-content: center;
  align-content: center;
    // margin: 60px 50px;
}

.h4 {
  margin:10px 40px;
  font-size: 35px;
 
}

.lk_user_page{
 display: flex;
 text-align: center;
 align-items: center;
 justify-content: center;
 background-color: rgb(255, 255, 255);
 border-radius: 20px;
 width: 450px;
 min-height: 150px;
 height: 650px;
}


.button{
  cursor: pointer;
  left: 18%;
  margin: 8px 0 10px;
  font-size: 18px;
  border: none;
  background-color: #6e76ce ;
  border-radius: 20px;
  width: 230px;
  height: 30px;
  transition: 0.4s;
  color: white;
}
.button:hover{
  font-size: 19px;
  box-shadow: 1px 1px rgba(128, 128, 128, 0.368);
  background-color:   #8E97FD;
}

.rec_and_fav_div {
  border-radius: 20px;
  width: 1380px;
  min-height: 450px;
  padding: 60px 0px;
  background-color: white;
  margin-bottom: 60px;
  // margin-top: 10px;
}
.file_input{
  // background-color: #8E97FD;
 display: none;
}
.btn_file{
  border: none;
  background-color: #8E97FD;
  border-radius: 20px;
  width: 200px;
  height: 30px;
  color: rgb(255, 255, 255);
}

.div_btn_photo{
  margin: 5px;
}

.input {
  border: 1px solid rgb(83, 82, 82);
  border-radius: 10px;
  width: 350px;
  height: 30px;
  margin: 5px;
  padding-left: 5px;
  font-size: 15px;
  transition: 0.4s;
  // outline: 1px solid #5e6cff;
}
.input:hover {
  border: 1px solid #5e6cff;
}
.input:focus {
  outline: 1px solid #5e6cff;
}

.info_edit_div{
// display: flex;
// justify-content: baseline;
}

// .button{
//   cursor: pointer;
//   left: 18%;
//   margin: 15px 0 10px;
//   font-size: 14px;
//   border: none;
//   background-color: #8E97FD ;
//   border-radius: 20px;
//   width: 10px;
//   height: 30px;
//   transition: 0.4s;
//   color: white;
// }
// .button:hover{
//   font-size: 15px;
//   box-shadow: 1px 1px rgba(128, 128, 128, 0.368);
//   background-color: #6e76ce ;
// }
// .rec_and_fav_div{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 1180px;
// }
.button_edit_profile{
  position: relative;
  top: 140px;
  border: none;
  background-color: #8E97FD;
  color: white;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
}
.form_password{
  position: relative;
  top: -38px;
}

.button_password{
  cursor: pointer;
  border: none;
  background-color: white;
  color: #6e76ce;
  font-size: 18px;
  transform: 2s;
}
.button_password:hover{
  color: #8E97FD; 
}
.my_info{
  position: relative;
  // bottom: 30px;
  font-size: 20px;
}
.userPhoto_info{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -40px;
}
.button_edit_page{
    cursor: pointer;
    margin: 8px 0 10px;
    font-size: 20px;
    border: none;
    background-color: #8E97FD ;
    border-radius: 20px;
    position: relative;
    top: 30px;
    width: 330px;
    height: 40px;
    transition: 0.4s;
    color: white;
  
  }
  .button_edit_page:hover{
    font-size: 21px;
    box-shadow: 1px 1px rgba(128, 128, 128, 0.368);
    background-color: #6e76ce ;
  }

  .password_button {
    background-color: white;
    position: relative;
    border: none;
    outline: none;
    margin-left: -50px;
    width: 35px;
    top: 7px;
    padding: 0;
    height: 25px;
    font-size: 22px;
    margin-right: 15px;
  }