.grand_main_container{
  // display: flex;
  justify-content: center;
  align-items: center;
  background-color:#8E97FD ;
  // height: 100vw;
}

.main_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  gap: 25px;
  // background-color: #8E97FD;
  // width: 100%;
  // margin: 3vw;
}

.graph_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  width: 800px;
  height: 450px;
  background-color: white;
  // margin: 15px;
}

// .main_div_container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   background-color: white;
//   border-radius: 20px;
//   height: 440px;
//   // margin: 15px ;
// }



.userPhoto {
  // width: 250px;
  // border-radius: 50%;
  margin: 20px;
}

.h4 {
  margin-bottom: 10px;
  margin-top: 0;
}

.lk_user_page{
 display: flex;
 text-align: center;
 justify-content: center;
 background-color: rgb(255, 255, 255);
 border-radius: 20px;
 width: 300px;
 min-height: 150px;
 height: 450px;
}


.button{
  cursor: pointer;
  left: 18%;
  margin: 25px 0 10px;
  font-size: 18px;
  border: none;
  background-color: #8E97FD ;
  border-radius: 20px;
  width: 230px;
  height: 40px;
  transition: 0.4s;
  color: white;
}
.button:hover{
  font-size: 19px;
  box-shadow: 1px 1px rgba(128, 128, 128, 0.368);
  background-color: #6e76ce ;
}

.rec_and_fav_div {
  border-radius: 20px;
  width: 1125px;
  height: 450px;
  background-color: white;
  // margin-top: 10px;
}