.recomendations_div{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 30px;
}
.button_more_user{
    cursor: pointer;
    border: none;
    background-color: white;
    border-radius: 20px;
    width: 220px;
    height: 40px;
    margin: 0 10px;
    color: #6e76ce;
   
}
.rec_text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 0 30px;
}
.main_container{
    display: flex;
    justify-content: center;
}

.h1{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}