.mainaudioPlayer_container {
  display: flex;
  justify-content: center;
  background-color: #8e97fd;
  width: 100%;
  gap: 150px;
  color: #ebeaec;
  z-index: 1;
  padding-top: 580px;
  margin: 0;
}

.instruction {
  color: #ebeaec;
  left: 0px;
  font-size: 40px;
  text-align: center;
  z-index: 1;
  margin: 0;
  padding-top: 150px;
  background-color: #8e97fd;
}
.audioPlayer_sounds {
  z-index: 1;
  display: flex;
  align-content: center;
  // position: absolute;
  --secondary: #ebeaec;
  justify-content: center;
  // border: 5px solid black;
  flex-wrap: wrap;
  bottom: 200px;
}
.audioPlayer_container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 120px;
  // width: 500px;
  gap: 20px;
  z-index: 1;
}
.video {
  z-index: 0;
  width: 100%;
  // height: 100vh;
  position: absolute;
  top: 0%;
  left: 0%;
}
.logo_nav {
  z-index: 1;
  position: absolute;
  text-decoration: none;
  left: 20%;
  top: 20px;
  font-size: 200%;
  font-weight: bold;
  color: #ebeaec;
}

.avatar_nav {
  margin: 0 15px;
  z-index: 1;
}
.nav_btn {
  // position: absolute;
  text-decoration: none;
  color: #ebeaec;
  top: 7px;
  font-size: 20px;
  margin: 0 10px;
  z-index: 1;
}

.button_nav {
  z-index: 1;
  position: absolute;
  display: flex;
  top: 21px;
  color: black;
  right: 23%;
}

.audio {
  display: none;
}

.playPause_sounds {
  background: var(--primary);
  border: none;
  border-radius: 50%;
  font-size: 40px;
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.play {
  position: relative;
  left: 5px;
  z-index: 1;
}

.play_pause_div {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100px;
  height: 100px;
  left: 8vw;
  bottom: 90px;
  z-index: 1;
}

.rewind_icon {
  position: relative;
  font-size: 60px;
  left: 40px;
  color: #ebeaec;
  z-index: 1;
}
.rewind_div {
  position: relative;
  right: 30px;
  z-index: 1;
}
