.all_page_container {
  display: flex;
  justify-content: center;
  width: 1400px;
  margin: 0;
  margin-left: 30px;
}

.form {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1 px black solid;
  margin: 0;
  margin-top: 50px;
  box-shadow: -2px 8px 20px rgba(11, 70, 84, 0.15);
  padding: 20px;
}

.textarea {
  min-height: 200px;
  width: 450px;
  border-radius: 10px;
  padding: 10px;
  align-content: flex-start;
  margin-top: 15px;
  resize: none;
}

.input {
  width: 450px;
  padding: 0 10px;
  margin: 0;
  border-radius: 10px;
  align-content: flex-start;
}

.change_input {
  width: 600px;
  padding: 0 10px;
  margin: 0;
  border-radius: 10px;
  align-content: flex-start;
}

.change_textarea {
  width: 600px;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  align-content: flex-start;
  margin-top: 15px;
  resize: none;
}

.diary_notes_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 700px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 50px;
  gap: 20px;
  border: 1 px black solid;
}

.note_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-width: 700px;
  box-shadow: -2px 8px 20px rgba(11, 70, 84, 0.15);
  padding: 20px;
}

.note {
  transition: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  border-radius: 15px;
  margin: 0;
}

.buttons_container {
  display: flex;
}

.delete_button {
  cursor: pointer;
  left: 18%;
  margin: 15px 0;
  font-size: 18px;
  border: none;
  background-color: #8e97fd;
  border-radius: 20px;
  width: 130px;
  height: 40px;
  transition: 0.4s;
  color: white;
}
.delete_button:hover {
  box-shadow: 1px 1px rgba(128, 128, 128, 0.368);
  background-color: #6e76ce;
}
.save_changes_button {
  cursor: pointer;
  left: 18%;
  margin: 15px 0;
  font-size: 14px;
  border: none;
  background-color: #8e97fd;
  border-radius: 20px;
  width: 130px;
  height: 40px;
  transition: 0.4s;
  color: white;
}
.save_changes_button:hover {
  box-shadow: 1px 1px rgba(128, 128, 128, 0.368);
  background-color: #6e76ce;
}
