.all_page_container {
  display: flex;
  justify-content: center;
  width: 1400px;
  margin: 0;
  margin-left: 30px;
}
.form_add_notes_container {
  width: 30%;
  display: flex;
  justify-content: center;
  border: 1 px black solid;
  margin: 0;
  margin-top: 50px;
  align-content: center;
}

.input {
  min-height: 200px;
  align-content: flex-start;
}
.diary_notes_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 70%;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 50px;
  gap: 20px;
  border: 1 px black solid;
}
.note_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-width: 500px;
}
.note {
  transition: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;

  border-radius: 15px;
  margin: 0;
}

.delete_button {
  cursor: pointer;
  left: 18%;
  margin: 15px 0;
  font-size: 18px;
  border: none;
  background-color: #8e97fd;
  border-radius: 20px;
  width: 130px;
  height: 40px;
  transition: 0.4s;
  color: white;
}
.delete_button:hover {
  box-shadow: 1px 1px rgba(128, 128, 128, 0.368);
  background-color: #6e76ce;
}
.save_changes_button {
  cursor: pointer;
  left: 18%;
  margin: 15px 0;
  font-size: 14px;
  border: none;
  background-color: #8e97fd;
  border-radius: 20px;
  width: 130px;
  height: 40px;
  transition: 0.4s;
  color: white;
}
.save_changes_button:hover {
  box-shadow: 1px 1px rgba(128, 128, 128, 0.368);
  background-color: #6e76ce;
}
