.main_container {
  background-color: #8e97fd;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  background-color: #8e97fd;
  
}
.img_face_test {
  margin: 0 auto;
  width: 150px;
  height: 150px;
}
.img_from_test {
  width: 800px;
  height: 500px;
  margin: 20px;
}
.h1 {
  color: #EBEAEC;
  // margin-bottom: 15px;
  padding-top: 50px;
}
.button {
  cursor: pointer;
  margin: 10px 0;
  font-size: 20px;
  border: none;
  background-color: #ebeaec;
  border-radius: 25px;
  width: 280px;
  height: 42px;
  transition: 0.4s;
  color: #3f414e;
}
.button:hover {
  box-shadow: 1px 1px rgba(128, 128, 128, 0.368);
  background-color: #d3d2d2;
}
// .buttonn{
//   cursor: pointer;
//   margin: 10px 0;
//   font-size: 20px;
//   border: none;
//   background-color: #EBEAEC ;
//   border-radius: 25px;
//   width: 200px;
//   height: 55px;
//   transition: 0.4s;
//   color: #3F414E;
// }
// .buttonn:hover{
//   box-shadow: 1px 1px rgba(128, 128, 128, 0.368);
//   background-color: #d3d2d2;
// }

.input {
  border: 1px solid rgb(83, 82, 82);
  border-radius: 10px;
  width: 380px;
  height: 34px;
  margin: 5px;
  padding-left: 20px;
  font-size: 18px;
  transition: 0.4s;
  // outline: 1px solid #5e6cff;
}
.input:hover {
  border: 1px solid #5e6cff;
}
.input:focus {
  outline: 1px solid #5e6cff;
}


.testQuest {
  display: flex;
  flex-direction: column;
  align-items: center;
}