.exercises_container {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 50px;
  gap: 20px;
}

.exercise_card {
  // outline: 1px #808aff solid;
  // background-color: #808aff;
  // display: flex;
  // flex-direction: column;
  // max-width: fit-content;
  // border-radius: 15%;
}

.exercise_img {
  // max-width: 200px;
  // border-radius: 15%;
  width: 200px;
}
.exercise_container_main_for_individual {
  display: flex;
  justify-content: center;
  width: 1000px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 50px;
}

.exercise_container_button_individual {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.exercise_container_individual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px #808aff solid;
  background-color: #808aff;
  border-radius: 15%;
}
.exercise_img_individual {
  width: 500px;
}

.diary_buttons {
  display: flex;
}
.diary_discription {
  width: 300px;
}

.h1 {
  font-family: 'Nunito';
  font-size: 40px;
  color: #3f414e;
  margin-bottom: 5px;
  // margin-left: 550px;
}

.h2 {
  font-family: 'Nunito';
  font-size: 30px;
  color: #a1a4b2;
  margin-top: 5px;
  // margin-left: 550px;
}
.like_img {
  width: 40px;
  position: relative;
  top: 35px;
  left: 170px;
}
