.container {
  width: 1200px;
  margin: auto;
  // margin-left: 330px;
}

.exercises_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  width: 1200px;
  height: 560px;
  // margin: auto;
}

.exercise_img {
  cursor: pointer;
  width: 280px;
}

.exercise_item {
  transition: 0.4s;
  transform: scale(0.98);
}

.exercise_item:hover {
  transform: scale(1);
}

.exercise_container_main_for_individual {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding-bottom: 50px;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #8E97FD;
}

.exercise_container_button_individual {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  text-align: center;
}

.exercise_img_individual {
  width: 400px;
}

.diary_buttons {
  display: flex;
}

.diary_discription {
  margin-top: 40px;
  font-size: 24px;
  width: 1000px;
  color: #EBEAEC;
}

.h1 {
  font-size: 40px;
  color: #3f414e;
  margin-bottom: 5px;
  margin-top: 50px;
}

.h2 {
  font-size: 30px;
  color: #a1a4b2;
  margin-top: 5px;
}

.like_img {
  width: 30px;
  position: relative;
  top: 50px;
  left: 230px;
  z-index: 10;
}

.like_img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.button {
  cursor: pointer;
  margin: 50px 0;
  font-size: 22px;
  border: none;
  background-color: #EBEAEC ;
  border-radius: 25px;
  width: 240px;
  height: 50px;
  color: #3F414E;
  transition: 0.4s;
}

.button:hover {
  font-size: 24px;
  box-shadow: 1px 1px rgba(128, 128, 128, 0.368);
  background-color: #d3d2d2 ;
}

.link {
  margin: 20px;
  color: #EBEAEC;
  text-decoration: none;
  font-size: 20px;
  transition: 0.4s;
}

.link:hover {
  color: #d3d2d2;
}

// 320, 640, 1120, 1600
// 

@media (min-width: 320px) and (max-width: 700px) {
  .exercise_img_individual {
    width: 70vw;
  }
  .diary_discription {
    width: 90vw;
  }

  .h1 {
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 30px;
    margin-left: 15px;
    width: 320px;
  }
  .h2 {
    font-size: 25px;
    margin-top: 5px;
    margin-left: 15px;
    width: 320px;
  }

  .container {
    width: 320px;
    // margin-left: 0px;
  }
  .exercise_img {
    cursor: pointer;
    width: 160px;
  }
  .exercises_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // align-self: flex-start;
    width: 320px;
    height: 400px;
    margin: 0 auto;
  }
}