.mood_container {
  background-color: #8e97fd;
  width: 100%;
  height: 92vh;
  text-align: center;
}

.smile_container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: content-box;
}

.smile_img {
  margin-top: 100px;
  height: 250px;
  margin: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.smile_img:hover {
  margin-top: -30px;
}

/* .active_smile_img {
  margin-top: 100px;
  height: 250px;
  margin: 10px;
  transition: 0.4s;
  margin-top: -30px;
} */

.mood_h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  margin-top: 0;
  padding-top: 100px;
  color: #ebeaec;
}

.mood_h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #ebeaec;
  margin-bottom: 80px;
}

.mood_btn1 {
  cursor: pointer;
  margin: 50px 0;
  font-size: 18px;
  border: none;
  background-color: #ebeaec;
  border-radius: 25px;
  width: 400px;
  height: 50px;
  transition: 0.4s;
  color: #3f414e;
}
.mood_btn1:hover {
  font-size: 20px;
  box-shadow: 1px 1px rgba(128, 128, 128, 0.368);
  background-color: #d3d2d2;
}
.mood_btn2 {
  cursor: pointer;
  margin: 50px 0;
  font-size: 18px;
  border: none;
  background-color: #ebeaec;
  border-radius: 25px;
  width: 240px;
  height: 50px;
  transition: 0.4s;
  color: #3f414e;
}
.mood_btn2:hover {
  font-size: 20px;
  box-shadow: 1px 1px rgba(128, 128, 128, 0.368);
  background-color: #d3d2d2;
}
.button_box {
  display: flex;
  justify-content: center;
  gap: 20px;
}


@media (min-width: 350px) and (max-width: 700px) {
  .smile_img {
    margin-top: 100px;
    height: 120px;
    margin: 0px 10px;
  }
  .mood_h1 {
    font-size: 30px;
    padding-top: 40px;
  }
  .mood_h2 {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .button_box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mood_btn1 {
    margin: 0;
    margin-top: 50px;
    font-size: 15px;
    width: 270px;
    height: 40px;
  }
  .mood_btn2 {
    margin: 0;
    font-size: 15px;
    width: 270px;
    height: 40px;
    margin-bottom: 20px;
  }
}