body{
    margin: 0;

header{
    position: relative;
    height: 80px;
    width: 95.1%;
    top: -10px;
    background-color: #8E97FD;
    border-bottom: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: .8em 2em;
    outline: none;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(4, 4, 4, 0.282) 0 1px 0.5px;


  .logo_nav{
    position: relative;
    text-decoration:none;
    left: 1%;
    top: 12px;
    font-size: 300%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #D1512D;
}

.avatar_nav{
    margin: 0 15px;
 
}

.button_nav{
    position: relative;
    display: flex;
    right: -80%;
    bottom: 30px;
    color: black;
        };
    };
}; 