body{
    margin: 0px ;

header{
    height: 80px;
    width: 100%;
    background-color: #8E97FD;
    border-bottom: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(4, 4, 4, 0.282) 0 1px 0.5px;


  .logo_nav{
    position: relative;
    text-decoration:none;
    left: 20%;
    top: 20px;
    font-size: 200%;
    font-weight: bold;
    font-family: 'Nunito';
    color: #EBEAEC;
}

.avatar_nav{
    margin: 0 15px;
 
}
.nav_btn{
    position: relative;
    text-decoration:none;
    color: #EBEAEC;
    top: 7px;
    font-size: 20px;

}

.button_nav{
    position: absolute;
    display: flex;
    top: 21px;
    color: black;
   right: 30%;
        };
    };
}; 